body{    
    background: linear-gradient(90deg, #ffa60078 ,  #0ea04678 );
}

.editbutton{
    transition: 0.5s;
    font-size: large;
    font-family: 'Montserrat', sans-serif;
    color: forestgreen;
    border: 0;
    padding: 0;
    background: none;
}
.editbutton:hover{
    transition: 0.5s;
    color: darkseagreen;
    font-size: large;
    font-family: 'Montserrat', sans-serif;
    border: 0;
    padding: 0;
    background: none;
}

.logingrid .logincontainer .deletebutton{
    transition: 0.5s;
    font-size: large;
    font-family: 'Montserrat', sans-serif;
    color: #ce8a00;
    border: 0;
    padding: 0 0 0 25px;
    background: none;
}
.logingrid .logincontainer .deletebutton:hover{
    transition: 0.5s;
    color: #ffc44f;
    font-size: large;
    font-family: 'Montserrat', sans-serif;
    border: 0;
    background: none;
}

.logingrid{
    box-shadow: 10px 10px 10px rgba(0, 100, 0, 0.5);
    justify-content: center;
    display: flex;
    min-height:fit-content;
    margin: 10% 30% 0 30%;
    border-radius: 20px;
    padding: 10% 10% 10% 10%;
    background: whitesmoke;
}.login,
#pw,
#pw2{
    padding: 0 15px 0 15px;
    margin-bottom: 15px;
    width: 100%;
    height: 50px;
    font-size: large;
    font-family: 'Montserrat', sans-serif;
    border-radius: 10px;
    font-weight: 200;
    outline: none !important;
    border: 4px solid #ffc44f;
    color: #ffd580;
}
.login:hover,
#pw:hover,
#pw2{
    transition: 0.5s;
    background-color: #fdfaf3;
}
.login:focus,
#pw:focus,
#pw2:focus{
    transition: 0.5s;
    background-color: #fff6e4;
    color: #ce8a00;
}


.logingrid form{
    margin: 0;
    padding: 0;
}

.logingrid .logincontainer .title,
.logingrid .logincontainer a{
    font-family: 'Montserrat', sans-serif;
    color: #145a32;
}
.logingrid .logincontainer .idrow .login{
    padding: 0 15px 0 15px;
    margin-bottom: 15px;
    width: 100%;
    height: 50px;
    font-size: large;
    font-family: 'Montserrat', sans-serif;
    border-radius: 10px;
    font-weight: 200;
    outline: none !important;
    border: 4px solid #ffc44f;
    color: #ffd580;
}
.logingrid .logincontainer .idrow .login:hover{
    transition: 0.5s;
    background-color: #fdfaf3;
}
.logingrid .logincontainer .idrow .login:focus{
    transition: 0.5s;
    background-color: #fff6e4;
    color: #ce8a00;
}

@media (max-width: 574px) {
    .logingrid{
        box-shadow: 10px 10px 10px rgba(0, 100, 0, 0.5);
        justify-content: center;
        display: flex;
        min-height:fit-content;
        margin: 25% 2% 25% 2%;
        border-radius: 20px;
        background: whitesmoke;
    }
    .login,
    #pw,
    #pw2{
        margin-bottom: 15px;
        width: 70%;
        height: 50px;
        font-size: large;
        font-family: 'Montserrat', sans-serif;
        border-radius: 10px;
        font-weight: 200;
    }
}

@media (min-width: 574px) {
    .logingrid{
        box-shadow: 10px 10px 10px rgba(0, 100, 0, 0.5);
        justify-content: center;
        display: flex;
        min-height:fit-content;
        margin: 15% 10% 15% 10%;
        border-radius: 20px;
        padding: 10% 10% 10% 10%;
        background: whitesmoke;
    }
    .login,
    #pw,
    #pw2{
        padding: 0 15px 0 15px;
        margin-bottom: 15px;
        width: 30%;
        height: 50px;
        font-size: large;
        font-family: 'Montserrat', sans-serif;
        border-radius: 10px;
        font-weight: 200;
        outline: none !important;
        border: 4px solid #ffc44f;
        color: #ffd580;
    }
}

@media (min-width: 1200px) {
    .logingrid{
        box-shadow: 10px 10px 10px rgba(0, 100, 0, 0.5);
        justify-content: center;
        display: flex;
        min-height:fit-content;
        margin: 8% 30% 8% 30%;
        border-radius: 20px;
        padding: 10% 10% 10% 10%;
        background: whitesmoke;
    }
    .login,
    #pw,
    #pw2{
        padding: 0 15px 0 15px;
        margin-bottom: 15px;
        width: 100%;
        height: 50px;
        font-size: large;
        font-family: 'Montserrat', sans-serif;
        border-radius: 10px;
        font-weight: 200;
        outline: none !important;
        border: 4px solid #ffc44f;
        color: #ffd580;
    }
}