<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Load Static Folder to load images and CSSs -->
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Display object name in the website tab
         Object accessible from detail view -->
        <!-- Check if user is authenticated and is the user that owns the idcard -->
        {% if user.id == object.user_id_id %}
    <title>JKeys - 🪪 {{ object.name }}</title>
        {% else %}
            <title>JKeys - ⚠️ ERROR</title>
        {% endif %}

    <!-- Load images and CSSs using the static folder (for resources) -->
    <link rel="shortcut icon" type="image/png" href="{% static 'jkeys/jkey.png' %}"/>
    <link rel="stylesheet" href="{% static 'jkeys/element.css' %}">


	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap" rel="stylesheet">
</head>
<body>

    <div class="logingrid">
        <!-- Check if user is authenticated and is the user that owns the idcard -->
        {% if user.id == object.user_id_id %}
        <div class="logincontainer">
            <!-- Load image as a static resource in static folder
             and create a link to go back to the homepage -->
            <a href="/">
            <img src="{% static 'jkeys/jkey.png' %}" height="100px"/>
            </a>
            <h1 class="title">JKeys</h1>

            <div class="idrow">
                <h2>Name:</h2>
                <!-- Display object name in the name field
                     Object accessible from detail view -->
                <h2 class="ids">{{ object.name }}</h2>
            </div>

            <div class="idrow">
                <h2>First Name:</h2>
                <!-- Display object first_name in the mail field
                     Object accessible from detail view -->
                <h2 class="ids">{{ object.first_name }}</h2>
            </div>

            <div class="idrow">
                <h2>Middle Name:</h2>
                <!-- Display object middle_name in the password field
                     Object accessible from detail view -->
                <h2 class="ids">{{ object.middle_name }}</h2>
            </div>


            <div class="idrow">
                <h2>Last Name:</h2>
                <!-- Display object last_name in the link field
                     Object accessible from detail view -->
                <h2 class="ids">{{ object.last_name }}</h2>
            </div>

            <div class="idrow">
                <h2>Address 1:</h2>
                <!-- Display object address1 in the link field
                     Object accessible from detail view -->
                <h2 class="ids">{{ object.address1 }}</h2>
            </div>

            <div class="idrow">
                <h2>Address 2:</h2>
                <!-- Display object address2 in the link field
                     Object accessible from detail view -->
                <h2 class="ids">{{ object.address2 }}</h2>
            </div>

            <div class="idrow">
                <h2>City:</h2>
                <!-- Display object city in the link field
                     Object accessible from detail view -->
                <h2 class="ids">{{ object.city }}</h2>
            </div>

            <div class="idrow">
                <h2>State:</h2>
                <!-- Display object state in the link field
                     Object accessible from detail view -->
                <h2 class="ids">{{ object.state }}</h2>
            </div>

            <div class="idrow">
                <h2>Postal Code:</h2>
                <!-- Display object postal_code in the link field
                     Object accessible from detail view -->
                <h2 class="ids">{{ object.postal_code }}</h2>
            </div>

            <div class="idrow">
                <h2>Country:</h2>
                <!-- Display object country in the link field
                     Object accessible from detail view -->
                <h2 class="ids">{{ object.country }}</h2>
            </div>

            <div class="idrow">
                <h2>ID Number:</h2>
                <!-- Display object id_number in the link field
                     Object accessible from detail view -->
                <h2 class="ids">{{ object.id_number }}</h2>
            </div>

            <div class="idrow">
                <h3>Created:</h3>
                <!-- CANNOT BE MODIFIED
                     Display object creation date in the created field
                     Object accessible from detail view -->
                <h3 class="ids">{{ object.created }}</h3>
            </div>

            <div class="idrow">
                <h3>Last Modification:</h3>
                <!-- CANNOT BE MODIFIED - MODIFIED AUTOMATICALLY
                     Display object modification date in the last modification field
                     Object accessible from detail view -->
                <h3 class="ids">{{ object.modified }}</h3>
            </div>

            <div style="flex-direction: row;">
                <!-- Here are URLs redirection buttons to views associated to
                     editing and deleting -->

                <!-- Connect to the Updateview of the object
                     view which is connected to the url called elementedit -->
                <a href="{% url 'editidcard' object.id %}" class="editbutton">Edit</a>

                <!-- Connect to the Deleteview of the object
                     view which is connected to the url called elementdelete -->
                <a href="{% url 'deleteidcard' object.id %}" class="deletebutton">Delete</a>
            </div>
        </div>
        {% else %}
        <!-- Check if user is authenticated
             else, ask him/her to log in to his/her account -->

        <div class="logincontainer">
            <!-- Load image as a static resource in static folder
             and create a link to go back to the homepage -->
            <a href="/">
            <img src="{% static 'jkeys/jkey.png' %}" height="100px"/>
            </a>
            <h1 class="title">JKeys</h1>

            <div class="idrow">
              <h1 class="title" style="color: brown;">⚠️ You are not able to see this item</h1>
            </div>
        </div>
        {% endif %}
    </div>
</body>
</html>