<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Load Static Folder to load images and CSSs -->
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JKeys - 👤 Log In</title>

    <!-- Load images and CSSs using the static folder (for resources) -->
    <link rel="shortcut icon" type="image/png" href={% static 'jkeys/jkey.png' %}/>
    <link rel="stylesheet" href="{% static 'jkeys/login.css' %}">
    
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap" rel="stylesheet">
</head>
<body>

    <div class="logingrid">

        <!-- Form to send fields to the accounts model then in database -->
        <form method="post">
            <div class="logincontainer">

                <a href="/">
                <img src="{% static 'jkeys/jkey.png' %}" height="100px"/>
                </a>
                <h1 class="title">JKeys - Log In</h1>

            <!-- Token generated to be recognized by the django app,
            needed for encryption between Django and HTML file -->
            {% csrf_token %}

                <div class="idrow">

                    <!-- username field recognized by Django Account App -->
                    <input type="text" name="username" maxlength="150" class="login" placeholder="Username"
                           autocapitalize="none" autocomplete="username" autofocus="" maxlength="150"
                           required="" id="id_username">
                    <!-- password field recognized by Django Account App -->
                    <input type="password" name="password" class="login" placeholder="Password"
                           autocomplete="current-password" required="" id="id_password">
                </div>

                <!-- Button to submit form to the Django Account Model and Login to this account -->
                <button type="submit" class="editbutton" ><u>Log In</u></button>
                <a class="deletebutton" href="{% url 'signup' %}">Sign Up</a>

            </div>

        </form>
    </div>
</body>
</html>