<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JKeys - 👤 Log In</title>
    <link rel="shortcut icon" type="image/png" href={% static 'jkeys/jkey.png' %}/>
    <link rel="stylesheet" href="{% static 'jkeys/login.css' %}">
    
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap" rel="stylesheet">
</head>
<body>

    <div class="logingrid">

                <img src="{% static 'jkeys/jkey.png' %}" height="100px"/>
                <h1 class="title">JKeys - Log In</h1>

        <form method="post">

            {% csrf_token %}
            <div class="logincontainer">

                <input type="text" id="login" name="username" required
                                                  minlength="4" maxlength="150" placeholder="Username">
                <input type="password" id="pw" name="pw" required
                                               minlength="4" maxlength="150" placeholder="Password">

                <button type="submit" style="padding-right: 25px;">Log In</button>

            </div>

            </form>
    </div>
</body>
</html>