<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Load Static Folder to load images and CSSs -->
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JKeys - 🔓 Password Changed</title>

    <!-- Load images and CSSs using the static folder (for resources) -->
    <link rel="shortcut icon" type="image/png" href={% static 'jkeys/jkey.png' %}/>
    <link rel="stylesheet" href="{% static 'jkeys/login.css' %}">

	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap" rel="stylesheet">
</head>
<body>

    <div class="logingrid">

    <!-- Password changed confirmation page (customized page) -->
            <div class="logincontainer">

                <a href="/accounts/login">
                <img src="{% static 'jkeys/jkey.png' %}" height="100px"/>
                </a>
                <h1 class="title">JKeys - Password Changed</h1>
                <h1 class="title" style="color: #ce8a00">Your new password has been set ! </h1>
                    <a href="{% url 'login' %}">Login</a>

            </div>
    </div>
</body>
</html>